<h1>Switch</h1>

<h2>com variavel</h2>
<ng-container [ngSwitch]="switch_expression">
  <div *ngSwitchCase="1">oii</div>

  <div *ngSwitchCase="2">tchau</div>

  <div *ngSwitchDefault>to em duvida</div>
</ng-container>

<h2>com enum</h2>

<ng-container [ngSwitch]="cumprimentoReal">
  <div *ngSwitchCase="cuprimentoEnum.ENTRADA">
    {{ cumprimentoReal }} - to entrando
  </div>

  <div *ngSwitchCase="cuprimentoEnum.SAIDA">
    {{ cumprimentoReal }} - to saindo
  </div>

  <div *ngSwitchDefault>to em duvida</div>
</ng-container>

<button (click)="onClickValor(cumprimentoReal)">Mudar Valor</button>
